<head>
	<title>Evaluacion de taller de Git</title>
</head>
<body>
	<h1>Listado de alumnos</h1>	
	<table>
		<tr>
  			<td><strong>Nombre</strong></td>
  			<td><strong>Cedula</strong></td>
  			<td><strong>Observacion</strong></td>
		</tr>

		<tr>
  			<td>Pedro Perez</td>
  			<td>00000000</td>
  			<td>alumno de prueba</td>
		</tr>
                   <tr>
  			<td>Alexei Gonzalez</td>
  			<td>19288353</td>
  			<td>alumno de fuego</td>
		    </tr>
	</table>
</body>
